/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMÁGENES RESPONSIVE */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  background: #21364b;
  border: 8px solid black;
  margin-bottom: 20px;
}

.header-top img {
    width: 80px;      /* Ajusta aquí el tamaño */
    height: auto;
    margin: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-top > div,
.header-top nav {
  background: #e66061;
  padding: 10px;
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.header-top nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-top nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-title {
  background: #f2a93b;
  text-align: center;
  padding: 15px;
  border: 8px solid black;
}

/* SECTION */
.section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* ARTICLES */
.articles {
  background: #21364b;
  border: 8px solid black;
  flex: 3;
  padding: 15px;
}

.articles article {
  background: #486a82;
  margin: 8px 0;
  padding: 15px;
}

.articles h2 {
  margin-bottom: 10px;
  color: white;
}

.articles nav.subnav {
  background: #9dcde4;
  padding: 15px;
  text-align: center;
}

.subnav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* ASIDE */
aside {
  flex: 1;
  background: #be3f3f;
  padding: 10px;
  border: 8px solid black;
}

aside div {
  background: #ffecd1;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* FOOTER */
.footer {
  background: black;
  padding: 15px;
}

.pie {
  background: #fff8d6;
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

/* MEDIA QUERIES */
/* 800px */
@media (max-width: 800px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }

  .header-top > div,
  .header-top nav {
    margin: 8px 0;
    width: 150px;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
  }

  .articles article {
    flex: 1 1 48%;
  }

  .section {
    flex-direction: column;
  }

  aside {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  aside div {
    width: 150px;
  }
}

/* 600px */
@media (max-width: 600px) {
  .header-top > div,
  .header-top nav {
    width: 100%;
  }

  .section {
    flex-direction: column;
  }

  .articles {
    display: block;
  }

  .articles article {
    width: 100%;
  }

  aside {
    flex-direction: column;
    width: 100%;
  }

  aside div {
    width: 100%;
  }
}
