  body {
    background: rgb(255, 255, 255);
  }

  .grid-container {
    width: 900px;
    margin: 20px auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
  }

  .grid-container div {
    border: 4px solid rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
  }

  .item1 {
    background: blue;
    grid-column: 2 / 14;
    height: 100px;
  }


  .item2 {
    background: red;
    grid-column: 2 / 7;
    height: 160px;
  }

  .item3 {
    background: green;
    grid-column: 8 / 14;
    height: 50px;
   
  }

  .item4 {
    background: yellow;
    grid-column: 7 / 14;
    height: 57.5px;
    margin-top: -100px;  
}
