
@media print {
  header,
  nav,
  aside,
  footer {
    display: none !important;
  }

  html, body {
    font-size: 11pt !important;
    color: #000 !important;
    background: #fff !important;
  }

  main {
    float: none !important;
    width: 100% !important;
    box-shadow: none !important;
  }

  img { page-break-inside: avoid; max-width: 100% !important; height: auto !important; }

  a[href]:after {
    content: " (" attr(href) ")";
    font-size: 9pt;
  }

  * { background: transparent !important; color: #000 !important; }
}
